@import url('./App.css');

main{
    z-index: 1;
	grid-row: 1/-1;
	grid-column: 1/3;
    font-family: "kanit";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    padding: 20px;
}

.header,.Username{
    font-size: 80px;
    font-family: "Kanit", serif;
    font-weight: 700;
    font-style: normal;
}

.info{
    font-size: 36px;
    font-family: "Kanit", serif;
    font-weight: 400;
    font-style: normal;
}

.Username{
    color: var(--accent);
    position: relative;
    z-index: 1;
}

.Username::after{
    background-color: rgb(158, 206, 106, .2);
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 150px;
    filter: blur(300px); 
    content: "";
    border-radius: 50%; 
    transform: translate(-50%, -50%);

}

.links{
    display: flex;
    gap: 40px;
}

.link{
    display: flex;
    gap: 5px;
    border: 0 0 0 2px ;
    text-decoration: none;

}

.link p {
    font-size: 18px;
    transition-duration: 300ms;

}
.link p:hover {
    border-block-end: solid;
}


.green{
    color: var(--accent);
}


.custom-cursor {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(255, 0, 0, 0.4);
    border-radius: 50%;
    pointer-events: none; /* Prevent cursor from interfering with other interactions */
    filter: blur(30px);
    transform: translate(-50%, -50%); /* Center the cursor */
    display: none; /* Hide initially */
}