@import url('https://fonts.googleapis.com/css2?family=Arapey&display=swap');

/* CHANGE THIS ONE TO GRID TOO */
.NavBar{
    z-index: 10;
	grid-row: 1;
	grid-column: 1 / -1;
    font-family: kanit;
    font-size: 24px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;

}

.logo{
    font-size: 40px;
    text-decoration: none;
    font-family: Arapey;
}

.Sections{
    z-index: 1;
    text-decoration: none;
    position: relative;
}



